<!--START TOP AREA-->
<header class="top-area" id="home">
    <div class="header-top-area">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-6 col-sm-8">
                        <div class="call-to-action">
                            <p><i class="fa fa-envelope-o"></i>Email: <a href="#">info@Owl Restaurant.com</a></p>
                            <p><i class="fa fa-phone"></i>Telephone: <a href="#">+1 800 234 5678</a></p>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-6 col-sm-4">
                        <div class="book-table-popup">
                            <a href="reservation.html">Book a table</a>
                        </div>
                        <div class="top-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-feed"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MAINMENU AREA-->
        {% include '@d8training/main-menu/main-menu.twig' %}
        <!--END MAINMENU AREA END-->
    </div>

    <!--HHOME SLIDER AREA-->
    {% include '@d8training/slider/slider.twig' %}
    <!--HOME SLIDER AREA END-->

</header>
<!--END TOP AREA-->
