<!--START TOP AREA-->
<header class="top-area" id="home">
    <div class="header-top-area">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-6 col-sm-8">
                        <div class="call-to-action">
                            {% if (contact_details.email) -%}
                                <p><i class="fa fa-envelope-o"></i>Email: <a href="#">{{ contact_details.email }}</a></p>
                            {%- endif %}
                            {% if (contact_details.telephone) -%}
                                <p><i class="fa fa-phone"></i>Telephone: <a href="#">{{ contact_details.telephone }}</a></p>
                            {%- endif %}
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-6 col-sm-4">
                        <div class="book-table-popup">
                            <a href="reservation.html">Book a table</a>
                        </div>
                        <div class="top-social-bookmark">
                            <ul>
                                {% for key,link in social_links %}
                                    {% if (link) -%}
                                        <li><a href="{{ link }}"><i class="fa fa-{{ key }}"></i></a></li>
                                    {%- endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MAINMENU AREA-->
        {% include '@d8training/main-menu/main-menu.twig' %}
        <!--END MAINMENU AREA END-->
    </div>

    <!--HHOME SLIDER AREA-->
    {% include '@d8training/slider/slider.twig' %}
    <!--HOME SLIDER AREA END-->

</header>
<!--END TOP AREA-->
