<!--START TOP AREA-->
<header class="top-area" id="home">
    <div class="header-top-area">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-6 col-sm-8">
                        <div class="call-to-action">
                            <p><i class="fa fa-envelope-o"></i>Email: <a href="#">{{ email }}</a></p>
                            <p><i class="fa fa-phone"></i>Telephone: <a href="#">{{ telephone }}</a></p>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-6 col-sm-4">
                        <div class="book-table-popup">
                            <a href="reservation.html">Book a table</a>
                        </div>
                        <div class="top-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-feed"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MAINMENU AREA-->
        <div class="mainmenu-area" id="mainmenu-area">
            <div class="mainmenu-area-bg"></div>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button class="collapsed navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-scrollspy">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="navbar-brand"><img src="img/main_logo_black.png" alt="logo"></a>
                        <a href="index.html" class="navbar-brand white"><img src="img/main_logo.png" alt="logo"></a>
                    </div>
                    <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                        <div class="search-form-area">
                            <div class="search-form-overlay"></div>
                            <a class="search-form-trigger" href="#search-form">Search<span></span></a>
                            <div id="search-form" class="search-form">
                                <form>
                                    <input type="search" placeholder="Search...">
                                </form>
                            </div>
                        </div>
                        <ul id="nav" class="nav navbar-nav cl-effect-11">
                            <li class="active"><a class="at-drop-down" href="index.html">Home <i class="hidden-md hidden-lg fa fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li class="active"><a href="index.html">Home Deafult 1</a></li>
                                    <li><a href="index-2.html">Home Version 2</a></li>
                                    <li><a href="index-3.html">Home Version 3</a></li>
                                    <li><a href="index-onepage.html">Onepage Modern</a></li>
                                    <li><a href="index-onepage-classic.html">Onepage Classic</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">about us</a></li>
                            <li><a class="at-drop-down" href="blog.html">Pages <i class="hidden-md hidden-lg fa fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="about-us-2.html">About Style 2</a></li>
                                    <li><a href="menu-2.html">Menu Style 2</a></li>
                                    <li><a href="reservation-2.html">Reservation 2</a></li>
                                    <li><a href="contact-us-2.html">Contact Style 2</a></li>
                                    <li><a href="blog.html">Blog Classic</a></li>
                                    <li><a href="single-blog.html">Single Post</a></li>
                                    <li><a href="events.html">Classic Events</a></li>
                                    <li><a href="single-event.html">Events Details</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                </ul>
                            </li>
                            <li><a href="reservation.html">Reservation</a></li>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="menu.html">Menu</a></li>
                            <li><a href="blog.html">blog</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!--END MAINMENU AREA END-->
    </div>

    <!--HHOME SLIDER AREA-->
    <div class="slider-area">
        <div class="pogoSlider">
            <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background:url(img/slider/slide_1.jpg) no-repeat scroll 0 0 / cover;">
                <h2 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="700">Welcome to</h2>
                <h1 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="1500"><span>OWL</span> Cafe & Restaurant</h1>
                <h3 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="2300"><a href="reservation.html">Reservation Now</a></h3>
            </div>
            <div class="pogoSlider-slide" data-transition="fade" style="background:url(img/slider/slide_2.jpg) no-repeat scroll 0 0 / cover;">
                <h2 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="700">Our menus</h2>
                <h1 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="1500">See What's <span>new</span> today</h1>
                <h3 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="2300"><a href="#menu">Todays Menu</a></h3>
            </div>
            <div class="pogoSlider-slide" data-transition="fade" style="background:url(img/slider/slide_3.jpg) no-repeat scroll 0 0 / cover;">
                <h2 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="700">Get ready</h2>
                <h1 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="1500">to <span>Join</span> with us</h1>
                <h3 class="pogoSlider-slide-element" data-in="expand" data-out="expand" data-duration="2300"><a href="reservation.html">Book A Table</a></h3>
            </div>
        </div>
    </div>
    <!--HOME SLIDER AREA END-->

</header>
<!--END TOP AREA-->
