<!--FOOER AREA-->
<div class="footer-area">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="footer-top section-padding text-center">
                    <div class="footer-logo">
                        <a href="#"><img src="img/footer_white_logo.png" alt=""></a>
                    </div>
                    <div class="footer-address">
                        <p>20,floor,Queenslad Victoria Building. 60 california street california USA</p>
                        <p><a href="mailto:mehedidb@gmail.com">Hellow@OwlTheme.com</a></p>
                        <p><a href="callto:+8800000001111">+88 000 0000 1111</a></p>
                    </div>
                    <div class="footer-social-bookmark">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Teams of use</a></li>
                        <li><a href="#">Privicy Policy</a></li>
                        <li><a href="#">SiteMap</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="footer-copyright">
                    <p>&copy; 2017 <a href="#">Owl Restaurant</a> All Right Reserved. Coded by <a href="http://themeforest.net/user/bdexpert">BDEXPERT</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FOOER AREA END-->
