<div class="single-team-member text-center">
    <div class="team-member-img ">
        <img src="/img/team/team-1.jpg" alt="">
        <div class="member-social-bookmark">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="member-details">
        <h3>Mark Angelila</h3>
        <p>Cras senunc massa quisque tempor dolor sit amet </p>
    </div>
</div>
