<!--TEAM AREA-->
<section class="team-area section-padding">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Delicius</h2>
                    <h3>Awesome chefs</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 team-slider">
                <div class="single-team-member text-center">
                    <div class="team-member-img ">
                        <img src="img/team/team-1.jpg" alt="">
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="member-details">
                        <h3>Mark Angelila</h3>
                        <p>Cras senunc massa quisque tempor dolor sit amet </p>
                    </div>
                </div>
                <div class="single-team-member text-center">
                    <div class="team-member-img ">
                        <img src="img/team/team-2.jpg" alt="">
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="member-details">
                        <h3>Angel Meskat</h3>
                        <p>Cras senunc massa quisque tempor dolor sit amet </p>
                    </div>
                </div>
                <div class="single-team-member text-center">
                    <div class="team-member-img ">
                        <img src="img/team/team-3.jpg" alt="">
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="member-details">
                        <h3>Jon Doe</h3>
                        <p>Cras senunc massa quisque tempor dolor sit amet </p>
                    </div>
                </div>
                <div class="single-team-member text-center">
                    <div class="team-member-img ">
                        <img src="img/team/team-4.jpg" alt="">
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="member-details">
                        <h3>Angel Di Maria</h3>
                        <p>Cras senunc massa quisque tempor dolor sit amet </p>
                    </div>
                </div>
                <div class="single-team-member text-center">
                    <div class="team-member-img ">
                        <img src="img/team/team-5.jpg" alt="">
                        <div class="member-social-bookmark">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="member-details">
                        <h3>Park Ji Sung</h3>
                        <p>Cras senunc massa quisque tempor dolor sit amet </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TEAM AREA END-->
