<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="single-post text-center">
        <div class="blog-post-img ">
            <img src="/img/blog/blog-1.jpg" alt="">
        </div>
        <div class="post-details">
            <a href="#" class="post-meta-button">Life style</a>
            <h3><a href="single-blog.html">Gravida posure quam eraseno seque rutrume rigular </a></h3>
            <p class="post-meta"><a href="#">24 February, 2017</a> - <a href="#">5 Comments</a></p>
        </div>
    </div>
</div>
