<!--BLOG AREA-->
<section class="blog-area section-padding">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>News</h2>
                    <h3>Form The Blog</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="single-post text-center">
                    <div class="blog-post-img ">
                        <img src="{{ url('<front>') }}/{{ directory }}/dist/images/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="post-details">
                        <a href="#" class="post-meta-button">Life style</a>
                        <h3><a href="single-blog.html">Gravida posure quam eraseno seque rutrume rigular </a></h3>
                        <p class="post-meta"><a href="#">24 February, 2017</a> - <a href="#">5 Comments</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="single-post text-center">
                    <div class="blog-post-img ">
                        <img src="{{ url('<front>') }}/{{ directory }}/dist/images/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="post-details">
                        <a href="#" class="post-meta-button">events</a>
                        <h3><a href="single-blog.html">Gravida posure quam eraseno seque rutrume rigular </a></h3>
                        <p class="post-meta"><a href="#">24 February, 2017</a> - <a href="#">5 Comments</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BLOG AREA END-->
