<!--BLOG AREA-->
<section class="blog-area section-padding">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>News</h2>
                    <h3>Form The Blog</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% include '@d8training/blog/blog-item.twig'  %}
            {% include '@d8training/blog/blog-item.twig'  %}
        </div>
    </div>
</section>
<!--BLOG AREA END-->
