<!--EVENT AREA-->
<section class="event-area section-padding">
    <div class="event-area-bg"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Events</h2>
                    <h3>Next Comeing</h3>
                </div>
            </div>
        </div>
        <div class="row event-list">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              {% include '@d8training/events/event-item.twig'  %}
              {% include '@d8training/events/event-item.twig'  %}
            </div>
        </div>
    </div>
</section>
<!--EVENT AREA END-->
