<div class="single-event">
    <div class="event-img">
        <img src="/img/event/event_1.jpg" alt="">
    </div>
    <div class="event-content">
        <div class="event-date">
            <p><span>22</span>December</p>
        </div>
        <div class="event-details">
            <h3><a href="single-event.html">Ktherine Ryan to host Event Awards 2017</a></h3>
            <p class="event-meta"><a href="#">29 September 2017 </a>- 196 Manhattan, MY, USA</p>
            <p>Comedian Katherine Ryan will present this year's Event Awards on 13 October at the iconic Eventim Apollo in Hammersmith, London.</p>
        </div>
    </div>
</div>
