<!--PROMOTIONS AREA-->
<section class="promotions-area section-padding">
    <div class="promotion-area-bg"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="area-title text-center">
                    <h2>Specials</h2>
                    <h3>Specials Promotion</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% include '@d8training/promotions/promotion-item.twig'  %}
            {% include '@d8training/promotions/promotion-item.twig'  %}
            {% include '@d8training/promotions/promotion-item.twig'  %}
        </div>
    </div>
</section>
<!--PROMOTIONS AREA END-->
